name: 'CI'
on: # rebuild any PRs and main branch changes
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches: [ master ]

concurrency:
  group: "CI-${{ github.head_ref }}"
  cancel-in-progress: true

jobs:
  ci-tests:
    name: "CI tests"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
      - name: Retrieve node version for the action
        id: node_version
        run: |
          make get-action-nodejs-version
          echo "version=$(make get-action-nodejs-version)" >> $GITHUB_OUTPUT
      - name: Configure NodeJs version
        uses: actions/setup-node@v4
        with:
          node-version: '${{ steps.node_version.outputs.version }}'
      - name: "Build "
        run: make build && make package
      - name: "Detect forgotten compilation before push"
        run: test -z "$(git diff --name-only dist/)"
      - name: "Lint"
        run: make lint
